.container-fluid{
	padding-right: 0; 
    padding-left: 0; 
}

.navbar-inverse{
    background: #666666;
    border-color: #666666;
    border-radius: 0;
  }

  .navbar-brand{
    color: #f5861f;
    font-size: 18px;
  }

  .navbar-nav{
    color:#fff;
  }