.filter {
    &List {
        min-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }

    &Container {
         font-weight: 100; 
         margin-bottom: 30px;
         margin-top: 10px;
    }

    &Item {
        margin: 5px;
        
    }
    &downloadButton{
        margin: 0 450px 10px 0px;
    }
    &bookButton{
        margin: 16px 16px 20px 0px;
    }

    &Dropdown {
    }
}